"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "autocomplete-html"
      "autocomplete-css"
      "command-palette"
      "background-tips"
      "image-view"
      "language-coffee-script"
      "language-clojure"
      "language-csharp"
      "language-css"
      "language-hyperlink"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-sass"
      "language-typescript"
      "welcome"
      "go-to-line"
      "language-ruby-on-rails"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/home/gattes/Documents/repos/"
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 13
  "exception-reporting":
    userId: "18ccb03f-fbe4-c474-6724-5f843f18c697"
  "go-plus":
    config: {}
    disabledBundledPackages: [
      "go-debug"
      "go-signature-statusbar"
    ]
  "ide-go":
    customServerPath: "/home/gattes/.go/bin/go-langserver"
  linter: {}
  "linter-puppet-lint":
    oldVersion: false
  "linter-terraform-syntax": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
